<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="pe.gob.minjus.sisarb.model.mapper.EtapaArbitralMapper">

    <sql id="columnsSelect">
        ETAPA_ARBITRAL_ID,
        NOMBRE,
        ORDEN,
        AUDIT_USUARIO_CREACION,
        AUDIT_FECHA_CREACION,
        AUDIT_USUARIO_MODIFICA,
        AUDIT_FECHA_MODIFICA,

        TO_CHAR(AUDIT_FECHA_CREACION, 'yyyy-mm-dd hh24:mi')  AUDIT_FECHA_CREACION_FORMAT,
        TO_CHAR(AUDIT_FECHA_MODIFICA, 'yyyy-mm-dd hh24:mi') AUDIT_FECHA_MODIFICA_FORMAT
    </sql>

    <sql id="columnsInsert">
        ETAPA_ARBITRAL_ID,
        NOMBRE,
        ORDEN,
        ACTIVO,
        AUDIT_USUARIO_CREACION,
        AUDIT_FECHA_CREACION
    </sql>


    <resultMap id="resultlistPaginated" type="pe.gob.minjus.sisarb.model.domain.EtapaArbitral">
        <id  property="etapaArbitralId"                 column="ETAPA_ARBITRAL_ID"  />
        <result property="nombre"                       column="NOMBRE" />
        <result property="orden"                       column="ORDEN" />
        <result property="auditUsuarioCreacion"         column="AUDIT_USUARIO_CREACION" />
        <result property="auditFechaCreacion"           column="AUDIT_FECHA_CREACION" />
        <result property="auditUsuarioModifica"         column="AUDIT_USUARIO_MODIFICA" />
        <result property="auditFechaModifica"           column="AUDIT_FECHA_MODIFICA" />

        <result property="auditFechaCreacionFormat"     column="AUDIT_FECHA_CREACION_FORMAT" />
        <result property="auditFechaModificaFormat"     column="AUDIT_FECHA_MODIFICA_FORMAT" />
    </resultMap>

    <select id="listPaginated" resultMap="resultlistPaginated" parameterType="pe.gob.minjus.sisarb.model.request.EtapaArbitralBusquedaRequest">
        SELECT
        <include refid="columnsSelect">
        </include>
        FROM MAE_ETAPA_ARBITRAL
        <include refid="listPaginatedWhere">
            <property name="nombre" value="nombre"/>
            <property name="auditUsuarioCreacion" value="auditUsuarioCreacion"/>
            <property name="auditFechaCreacion" value="auditFechaCreacion"/>
            <property name="auditUsuarioModifica" value="auditUsuarioModifica"/>
            <property name="auditFechaModifica" value="auditFechaModifica"/>
        </include>
        OFFSET #{filaInicio,jdbcType=INTEGER} ROWS FETCH NEXT #{cantidadPorPagina,jdbcType=INTEGER} ROWS ONLY
    </select>

    <sql id="listPaginatedWhere">
        WHERE ACTIVO=1
        <if test="nombre!=null and nombre!=''"> AND TRIM(UPPER(NOMBRE)) LIKE '%'||TRIM(UPPER(#{nombre}))||'%' </if>
        <if test="auditUsuarioCreacion!=null and auditUsuarioCreacion!=''">
            AND TRIM(UPPER( A.AUDIT_USUARIO_CREACION))) LIKE '%'||TRIM(UPPER((#{auditUsuarioCreacion}))||'%'
        </if>
        <if test="auditFechaCreacion!=null and auditFechaCreacion!=''">
            AND TO_CHAR(A.AUDIT_FECHA_CREACION, 'yyyy-mm-dd hh24:mi:ss') LIKE '%'||UPPER(#{auditFechaCreacion})||'%'
        </if>
        <if test="auditUsuarioModifica!=null and auditUsuarioModifica!=''">
            AND TRIM(UPPER(A.AUDIT_USUARIO_MODIFICA)) LIKE '%'||TRIM(UPPER(#{auditUsuarioModifica}))||'%'
        </if>
        <if test="auditFechaModifica!=null and auditFechaModifica!=''">
            AND TO_CHAR(A.AUDIT_FECHA_MODIFICA, 'yyyy-mm-dd hh24:mi:ss') LIKE '%'||UPPER(#{auditFechaModifica})||'%'
        </if>
    </sql>

    <!-- Query para calcular el total -->
    <select id="listPaginatedTotal" resultType="java.lang.Integer" parameterType="pe.gob.minjus.sisarb.model.request.EtapaArbitralBusquedaRequest">
        select count(1) total FROM MAE_ETAPA_ARBITRAL
        <include refid="listPaginatedWhere">
            <property name="nombre" value="nombre"/>
            <property name="auditUsuarioCreacion" value="auditUsuarioCreacion"/>
            <property name="auditFechaCreacion" value="auditFechaCreacion"/>
            <property name="auditUsuarioModifica" value="auditUsuarioModifica"/>
            <property name="auditFechaModifica" value="auditFechaModifica"/>
        </include>
    </select>

    <insert id="save"  parameterType="pe.gob.minjus.sisarb.model.domain.EtapaArbitral">
        <selectKey keyProperty="etapaArbitralId" order="BEFORE" resultType="java.lang.Integer">
            SELECT SEQ_MAE_ETAPA_ARBITRAL.NEXTVAL FROM DUAL
        </selectKey>

        INSERT INTO MAE_ETAPA_ARBITRAL (<include refid="columnsInsert" />) values
        (
        #{etapaArbitralId, jdbcType=INTEGER},
        TRIM(UPPER(#{nombre, jdbcType=VARCHAR})),
        #{orden, jdbcType=INTEGER},
        1,
        TRIM(UPPER(#{auditUsuarioCreacion,jdbcType=VARCHAR})),
        sysdate)
    </insert>

    <update id="update" parameterType="pe.gob.minjus.sisarb.model.domain.EtapaArbitral">
        UPDATE MAE_ETAPA_ARBITRAL
        SET
        AUDIT_FECHA_MODIFICA=sysdate
        <if test="nombre != null and nombre!=''">,NOMBRE =TRIM(UPPER(#{nombre, jdbcType=VARCHAR})) </if>
        <if test="orden != null">,ORDEN =#{orden, jdbcType=INTEGER} </if>
        <if test="auditUsuarioModifica != null and auditUsuarioModifica!=''">, AUDIT_USUARIO_MODIFICA=TRIM(UPPER(#{auditUsuarioModifica, jdbcType=VARCHAR})) </if>
        where ETAPA_ARBITRAL_ID=#{etapaArbitralId, jdbcType=INTEGER}
    </update>

    <select id="findById" resultMap="resultlistPaginated" parameterType="java.lang.Integer">
        SELECT
        <include refid="columnsSelect">
        </include>
        FROM MAE_ETAPA_ARBITRAL
        WHERE ACTIVO=1 AND ETAPA_ARBITRAL_ID = #{id, jdbcType=INTEGER}
    </select>

    <update id="deleteById" parameterType="java.lang.Integer">
        UPDATE MAE_ETAPA_ARBITRAL
        SET
        ACTIVO=0
        where ETAPA_ARBITRAL_ID=#{id, jdbcType=INTEGER}
    </update>

    <sql id="columnsSelectChoose">
        ETAPA_ARBITRAL_ID,
        NOMBRE
    </sql>

    <select id="listChoose" resultMap="resultlistPaginated"  >
        SELECT
        <include refid="columnsSelectChoose">
        </include>
        FROM MAE_ETAPA_ARBITRAL WHERE ACTIVO=1
    </select>

    <select id="countByField" resultType="java.lang.Integer"  >
        SELECT
        COUNT(1)
        FROM MAE_ETAPA_ARBITRAL
        <include refid="countWhere">
            <property name="nombre" value="nombre"/>
            <property name="orden" value="orden"/>
        </include>
    </select>

    <sql id="countWhere">
        WHERE ACTIVO=1
        <if test="nombre!=null and nombre!=''"> AND NOMBRE=TRIM(UPPER(#{nombre})) </if>
        <if test="orden!=null"> AND ORDEN=#{orden} </if>
    </sql>

    <select id="countSubEtapArbiByEtapArbiId" parameterType="java.lang.Integer" resultType="java.lang.Integer"  >
        SELECT
        COUNT(1)
        FROM MAE_SUB_ETAPA_ARBITRAL
        WHERE ACTIVO=1 AND
        ETAPA_ARBITRAL_ID=#{etapaArbitralId, jdbcType=INTEGER}
    </select>

</mapper>